.navbar {
    background: rgb(245, 154, 204);
    font-size: 20px;
    height: 75px;
    display: flex;
    h3{
        padding: 30px 15px 0;
    }
    p{
        border: solid 1px black;
        font-size: 1em;
        padding: 2px 15px;
        margin: 5px;
        border-radius: 10px;
        font-weight: normal;
        color:rgb(58, 17, 39);
    }
    a{
        text-decoration: none;
    }

    #basic-nav-dropdown{
        padding: 0 !important;

    }
    .dropdown-menu{
        background: rgb(255, 184, 223);
    } 
}

a:hover{
    color:rgb(255, 255, 255);
}
link:hover{
    border-bottom: 1px solid rgb(58, 17, 39);
    color:rgb(255, 255, 255);
}
