.item-card{
    max-width: 300px;
    min-height: 500px;
    display:block;
    text-align: center;
    background: rgb(204, 130, 171);
    img{
        width: 95%;
        padding: 10px 0 10px 0;
    }
    h5{
        padding-top: 10px;
        font-size: 2em;
        color: rgb(121, 59, 93);
        span{
            color: rgb(58, 17, 39) !important;
        }
    }
    p{
        color:  rgb(121, 59, 93);
        padding: 5px;
        font-size: 1em;
    }
}