.about-ruhl-card{
    max-height: 60%;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
    text-align: left;
    background: rgb(204, 130, 171);
    padding-right:10px;
    margin: 2px;
    img{
        width: 50%;
        margin: 5%;
        padding: 5px;
    }
    .bio{
        margin-right: 10%;
        padding: 5px;
        width: 50%;
        h5{
            padding-top: 10px;
            font-size: 2em;
            color: rgb(58, 17, 39);
        }
        p{
            color:  rgb(121, 59, 93);
            padding: 5px;
            font-size: 1em;
            a{
                text-decoration: none;
                color:rgb(58, 17, 39);
            }
        }
    }
}