body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar {
  background: rgb(152, 128, 216);
  font-size: 20px;

}
.dropDown{
  font-weight: bold;
}

.dropItem{
  padding: 2px;
  font-weight: normal;
  text-decoration:none;

}

p{
  font-size: 20px;
}
.cart {
  min-width: 100px;
  height: 100%;
  background: rgb(105, 74, 192);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
}

.cartIcon {
  font-size: 20px;
  padding: 0 4px 0 0;
}

p a{
  text-decoration:none !important;
  color: rgb(92, 49, 105) !important;
}

.addToCart{
  color: white !important;
  background-color:  rgb(105, 74, 192)!important;
}

.btnCounter{
  border-radius: 5px !important;
}

.quantity{
  padding: 0 30px 0 30px ;
}

.itemControls{
  display: flex;
  align-items: center;
  justify-content: center;
}

.itemCount{
  border: 1px black solid;
  margin: 20px;
  width: 360px !important;
}