body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar {
  background: rgb(152, 128, 216);
  font-size: 20px;

}
.dropDown{
  font-weight: bold;
}

.dropItem{
  padding: 2px;
  font-weight: normal;
  text-decoration:none;

}

p{
  font-size: 20px;
}
.cart {
  min-width: 100px;
  background: rgb(105, 74, 192);
  cursor: pointer;
}

.cart span {
/* TODO: no se muestra el icon wtf */
}

a{
  text-decoration:none;
}

/* 
a p{
  padding: 25px 5px 5px 10px;
} */